{%extends 'base.html'%}

{% block title%}delete{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="alert alert-primary" role="alert">
                    정말로 게시글을 지우실 건가요?
                </div>
                <form action="" method="post">{% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}